<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planitary.entity.mapper.consumption.MdConsumptionMapper">

    <resultMap id="BaseResultMap" type="com.planitary.entity.model.consumption.MdConsumptionAppInfo">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="app_name" property="appName"/>
        <result column="consumption_id" property="consumptionId"/>
        <result column="app_icon" property="appIcon"/>
        <result column="consumption_price" property="consumptionPrice"/>
        <result column="consumption_date" property="consumptionDate"/>
        <result column="consumption_type" property="consumptionType"/>
        <result column="app_type" property="appType"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="total_income" property="totalIncome"/>
        <result column="is_delete" property="isDelete"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>

    </resultMap>

    <resultMap id="AggregationCostAppInfo" type="com.planitary.entity.model.dto.ConsumptionAppBaseInfo">
        <result column="app_id" property="appId" />
        <result column="app_icon" property="appIcon" />
        <result column="app_name" property="appName" />
        <result column="total_cost" property="totalCost" />
        <result column="total_income" property="totalIncome"/>

    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, app_name, consumption_id, app_icon,consumption_price,consumption_date,consumption_type,total_income,
        app_type,user_id,user_name,is_delete,create_time,update_time
    </sql>


    <select id="getAggregationCostAppInfo" resultMap="AggregationCostAppInfo" parameterType="String">
        select app_id,app_name,app_icon,sum(consumption_price) total_cost,total_income from md_con_app_info
        <where>
            and user_id = #{userId}
            and is_delete = 0
        </where>
        group by app_id,app_name,app_icon,total_income
    </select>

</mapper>